/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 25px 35px;
}

h1 {
  font-size: 1.7rem;
  font-weight: bold;
  margin: 10px 0;
}

h2 {
  font-size: 1.2rem;
  font-weight: bold;
}

h3 {
  font-size: 0.8rem;
  font-weight: lighter;
  margin-top: 10px;
  margin-bottom: 0;
}

th {
  font-size: 0.8rem;
  font-weight: bold;
}

td {
  font-size: 0.8rem;
  font-weight: lighter;
  line-height: 1.5rem;
}

.title {
  width: 200px;
}

.body {
  width: 380px;
}
.show,.edit,.destroy {
  padding: 0 5px;
}

table {
  margin-bottom: 30px;
  margin-left: 0;
}

a {
  color: black;
  font-size: 0.8rem;
}

p {
  font-size: 0.8rem;
}

form {
  margin-left: 0;
}

p.edit {
  font-weight: bold;
  margin-bottom: 30px;
  margin-left: 20px;
}